@charset "UTF-8";

/*
|--------------------------------------------------------------------------
| Imports
|--------------------------------------------------------------------------
*/

@import "../../node_modules/bootstrap/less/bootstrap.less";
@import (inline) "../../node_modules/normalize.css/normalize.css";

/*
|--------------------------------------------------------------------------
| Basic Stuff
|--------------------------------------------------------------------------
*/

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: @brand-dark;
}

* {
    font-family: 'Arvo', serif;
}

@brand-dark:  #272727;
@brand-light: #f6f6f6;

/*
|--------------------------------------------------------------------------
| Navigation
|--------------------------------------------------------------------------
*/

header {
    width: 100%;
    position: fixed;
    top: 0;

    nav {
        &.navbar.navbar-default {
            background-color: @brand-light;
            border: none;
            margin-bottom: 0;
            border-radius: 0;

            a {
                &.navbar-brand {
                    color: @brand-dark;
                    padding: 25px 0;
                    max-width: 200px;

                    @media(max-width: @screen-sm) {
                        padding: 15px 0 15px 15px;
                    }

                    img {
                        max-height: 100%;
                        margin: 0;
                    }
                }
            }

            .navbar-collapse {
                border: none;
            }

            ul.nav {
                li {
                    a {
                        color: @brand-dark;
                        padding: 25px;

                        @media(max-width: @screen-sm) {
                            padding: 15px;
                        }
                    }
                }
            }
        }
    }
}

/*
|--------------------------------------------------------------------------
| Header Image And Text
|--------------------------------------------------------------------------
*/

.head {
    height: 600px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/tech.jpg);
    display: table;
    text-align: center;

    .cover {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        width: 100%;

        h1 {
            color: @brand-light;
        }
    }
}
