@charset "UTF-8";

/*
|--------------------------------------------------------------------------
| Imports
|--------------------------------------------------------------------------
*/

@import "../../node_modules/bootstrap/less/bootstrap.less";
@import (inline) "../../node_modules/normalize.css/normalize.css";

/*
|--------------------------------------------------------------------------
| Variables
|--------------------------------------------------------------------------
*/

@brand-dark:  #272727;
@brand-light: #fafafa;
@brand-color: #f1545d;

/*
|--------------------------------------------------------------------------
| Basic Stuff
|--------------------------------------------------------------------------
*/

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: @brand-dark;
    background-color: @brand-light;
}

* {
    font-family: 'Arvo', serif;
}

a {
    color: @brand-color;

    &:hover {
        color: darken(@brand-color, 5%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/*
|--------------------------------------------------------------------------
| Navigation
|--------------------------------------------------------------------------
*/

header {
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 2px solid @brand-color;
    z-index: 2;

    nav {
        &.navbar.navbar-default {
            background-color: @brand-light;
            border: none;
            margin-bottom: 0;
            border-radius: 0;

            a {
                &.navbar-brand {
                    color: @brand-dark;
                    padding: 25px 0;
                    max-width: 200px;

                    @media(max-width: @screen-sm) {
                        padding: 15px 0 15px 15px;
                    }

                    img {
                        max-height: 100%;
                        margin: 0;
                    }
                }
            }

            .navbar-collapse {
                border: none;
            }

            ul.nav {
                li {
                    a {
                        color: @brand-dark;
                        padding: 25px;

                        @media(max-width: @screen-sm) {
                            padding: 15px;
                        }
                    }
                }
            }
        }
    }
}

/*
|--------------------------------------------------------------------------
| Header Image And Text
|--------------------------------------------------------------------------
*/

.head {
    height: 600px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/tech.jpg);
    display: table;
    text-align: center;

    @media(max-width: @screen-sm) {
        height: 450px;
    }

    @media(max-width: @screen-xs) {
        height: 350px;
    }

    .cover {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        width: 100%;

        h1 {
            color: @brand-light;
            font-size: 40px;

            @media(max-width: @screen-md) {
                font-size: 32px;
            }

            @media(max-width: @screen-sm) {
                font-size: 28px;
            }

            @media(max-width: @screen-xs) {
                font-size: 22px;
            }
        }
    }
}

/*
|--------------------------------------------------------------------------
| Scheduling
|--------------------------------------------------------------------------
*/

.scheduling {
    padding: 150px 0;
}

/*
|--------------------------------------------------------------------------
| Quote
|--------------------------------------------------------------------------
*/

.quote {
    background-image: url(../img/quote.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 500px;
    width: 100%;

    @media(max-width: @screen-sm) {
        height: 200px;
        background-attachment: scroll;
    }

    .cover {
        background-color: fade(@brand-dark, 60%);
        height: 100%;
        width: 100%;
        display: table;

        h3 {
            margin: 0;
            display: table-cell;
            height: 100%;
            width: 100%;
            vertical-align: middle;
            text-align: center;
            color: @brand-light;
            font-size: 32px;

            @media(max-width: @screen-md) {
                font-size: 26px;
            }

            @media(max-width: @screen-sm) {
                font-size: 18px;
            }
        }
    }
}

/*
|--------------------------------------------------------------------------
| Contact
|--------------------------------------------------------------------------
*/

.contact {
    padding: 50px 0;

    h1 {
        margin-bottom: 15px;
    }
}

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
*/

.footer {
    background-color: @brand-dark;
    color: fade(@brand-light, 70%);
    padding: 15px 0;
    font-weight: 300;

    a {
        color: fade(@brand-light, 70%);

        &:hover,
        &:focus {
            color: @brand-light;
        }
    }

    @media(max-width: @screen-sm) {
        .col-xs-12 {
            text-align: center;

            .pull-right {
                float: none !important;
                margin-bottom: 10px;
            }

            .text-right {
                text-align: center;
            }
        }
    }
}
